@charset "UTF-8";

/* Colors */
.pink{color:#fccfcf;}
.blue{background-color:#92a8d1 !important;}
.mint{background-color:#b0dbd1 !important;}
/* End Colors */

*,*:before,*:after,body,html{margin:0; padding:0}
a{text-decoration:none;outline:none;color:#535252;}
body{font-family:Courier,serif;color:#535252;}
.mega-container{display: flex;justify-content: center;align-items: center;height:100%;width:100%;}
.colors.main-container{position:relative; height: 78vh;display: flex;width: 86vw;margin: 11vh auto;background-color:#fccfcf;}
.home-name{width:150px;display: block;white-space: nowrap;text-decoration: none;color: grey;}
.home-name a{font-weight:bold;display:block;transform: rotate(-90deg);text-decoration: none;color:#535252;}
.mobile{display:none;}
.bottom{position:absolute;bottom:2vw; left:2vw;max-width: 617px; width:100%;}
.bottom h1{font-size: 48px;line-height: 1.5;font-weight: normal;}
.bottom p{font-size: 21px !important;padding-top:0px !important;line-height: 2 !important;}
.pages{display:flex;align-content:center;justify-content:center;width:150px;font-weight:bold;}
.pages ul{transform:rotate(90deg);list-style-type: none;white-space: nowrap;}
.pages li{display:inline-block;padding-right:20px;}
.pages li:last-child{padding-right:0;}
.pages a{text-decoration:none;color: #535252;cursor:pointer;}
.otherpages{display:none;overflow-x:hidden;padding: 2vw; overflow: auto; max-width: 600px;  width:100%;  align-content: center;flex-direction: column;justify-content: center;}
.otherpages.open{display:flex;}
.otherpages p{padding-top: 20px;line-height: 1.5;}
.button{border:solid 1px #535252; padding:10px 25px;margin:20px 0; display:inline-block;}

/* Block Reveal */
.bottom h1 {-webkit-animation: color 0.5s ease-in-out;  animation: color 0.5s ease-in-out;-webkit-animation-delay: 0.5s;  animation-delay: 0.5s;  -webkit-animation-fill-mode: forwards;  animation-fill-mode: forwards;  color: #535252;  opacity: 0;font-size: 48px;line-height: 3;font-weight: normal;-webkit-transform: translateY(-54px);transform: translateY(-54px);}
.block-reveal h1{-webkit-animation: color 0.5s ease-in-out;  animation: color 0.5s ease-in-out;-webkit-animation-delay: 0.5s;  animation-delay: 0.5s;  -webkit-animation-fill-mode: forwards;  animation-fill-mode: forwards;  color: #535252;  opacity: 0;}
.block-reveal {height: 48px;line-height: 3;overflow: hidden;position: relative;text-align: left;width: 100%; }
.block-reveal.int{line-height: 2.25;}
.block {-webkit-animation: reveal 1s ease-in-out;animation: reveal 1s ease-in-out;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;background: #b0dbd1;height: 100%;position: absolute;width: 100%;  z-index: 10;}
.block.pinkbg{background:#fccfcf;}
.block.mintbg{background:#b0dbd1}
.block.bluebg{background:#92a8d1}
@-webkit-keyframes reveal {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes reveal {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes color {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes color {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer{position:absolute;bottom:2vw;right:2vw;}
footer a{color: #535252;}
