@charset "UTF-8";
/*colors*/
.pink{color:#fccfcf;}
.blue{color:#92a8d1;}
.mint{color:#b0dbd1;}
/*end colors*/
*,*:before,*:after,body,html{margin:0; padding:0}
a{text-decoration:none;outline:none;}
body{font-family:Courier,serif;color:#535252;}
.mega-container{display: flex;justify-content: center;align-items: center;height:100%;width:100%;}
.colors.main-container{position:relative;    height: 78vh;display: flex;width: 86vw;margin: 11vh auto;background-color:#fccfcf;}
.home-name{width:150px;display: block;white-space: nowrap;text-decoration: none;color: grey;}
.home-name a{font-weight:bold;display:block;transform: rotate(-90deg);text-decoration: none;color:#535252;}
.bottom{position:absolute;bottom:4vw;left:4vw; max-width: 617px;}
.bottom h1{font-size: 48px;line-height: 1.5;font-weight: normal;}
.bottom p{font-size: 21px;line-height: 2;}
.pages{display:block;width:150px;font-weight:bold;}
.pages ul{transform:rotate(90deg);list-style-type: none;white-space: nowrap;}
.pages li{display:inline-block;padding-right:20px;}
.pages li:last-child{padding-right:0;}
.pages a{text-decoration:none;color: #535252;}
.otherpages{display:none;padding: 2vw; overflow: scroll; max-width: 600px;}
.otherpages.open{display:block;}

footer{position:absolute;bottom:2vw;right:2vw;}
footer a{color: #535252;}
